<h1>Contacts#index</h1>
<p>Find me in app/views/contacts/index.html.erb</p>
<%= link_to "New Contact", new_contact_path%>

<ul>
  <% @contacts.each do |contact| %>
      <li>
        <%= User.find_by(id: contact.to_user_id).username %> <%= link_to "Send a message" , private_message_path%>
      </li>
  <% end %> :controller=>"private_messages"},
</ul>