<h1>Teams</h1>

<%= link_to "New Team", new_team_path ,class:"justify-content-end"%><br>
<table class="table table-hover">
<thead>
<tr><th>Title</th><th>Action</th><th>Status</th></tr>
</thead>
<tbody>
  <% @teams.each do |team| %>
  <%if team.status == "public" %>
      <%if team.owner_id == session[:user_id]%>
      <tr class="table-info">
      <%elsif !UserTeam.where(user_id:session[:user_id],team_id:team.id).blank?%>
      <tr class="table-primary">
      <% else %>
      <tr class="table-light">
      <% end %>
      <td><%= team.title%></td>
      <td><%= link_to "join", team %></td>
      <%if team.owner_id == session[:user_id]%>
      <td>Owner</td>
      <%elsif !UserTeam.where(user_id:session[:user_id],team_id:team.id).blank?%>
      <td>Joined</td>
      <% end %>
      </tr>
  <% end %>
  <% end %>
</tbody>
</table>

