<% if team_post.post.include?(@search) %>

<% if session[:user_id]==team_post.user_id %>
<p style="color: green">
<% elsif team_post.created_at >= @last_saw%>
<p style="color:yellow">
<% else %>
<p style="color: red">
<% end %>

      <%if !User.where(id: team_post.user_id).blank?%>
        <%= User.find_by(id: team_post.user_id).username %>
      <%else%>
      [deleted]
      <%end%><strong>-></strong><%= team_post.post %>

<strong>When:</strong>
<%= team_post.created_at %> 

<%= render partial: "private_messages/popup" , locals: {team_post:team_post}%>


</p>



<%end%>